# Django
DJANGO_SECRET_KEY=ta-vraie-cle-secrete-ici
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=ton-domaine.com,www.ton-domaine.com

# URL du site (important pour les liens)
SITE_URL=https://ton-domaine.com

# Email
EMAIL_HOST_USER=ton-email@gmail.com
EMAIL_HOST_PASSWORD=ton-mot-de-passe-application

# Prix
PRIX_PAR_PLACE=5000
MAX_PLACES_PAR_RESERVATION=10
RESERVATION_EXPIRATION_HOURS=24